.h1 {
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 100% */
  letter-spacing: -1.28px;
  color: #181818;
}

.h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 133.333% */
  letter-spacing: -0.96px;
  color: #181818;
}

.paragraph {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #181818;
}

.h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #181818;
}

.paragraph-massive {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #181818;
}

.btn {
  display: flex;
  padding: 15px 24px 17px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #181818;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
}
.btn:hover {
  background: #3b3b3b;
}

.btn_outlined {
  border: 2px solid #181818;
  background: none;
  color: #181818;
}
.btn_outlined:hover {
  background: #ebebeb;
}

.header {
  display: flex;
  position: relative;
  padding: 38px 0px;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: inline-flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px solid #000;
}
.header__text-logo {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  text-transform: uppercase;
}
.header__list {
  display: inline-flex;
  justify-content: flex-end;
  justify-self: start;
  align-items: flex-start;
  gap: 32px;
  list-style: none;
}
.header__list-item {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.header__link-item {
  color: #000;
  text-decoration: none;
}
.header__empty {
  width: 100px;
}
.header__programmer-wrapper {
  position: absolute;
  top: 40px;
  right: 148px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 170px;
  flex-shrink: 0;
  border-radius: 10000px;
  background: #f1f1f1;
}

@media (max-width: 1200px) {
  .header__programmer-wrapper {
    display: none;
  }
  .container {
    max-width: 90%;
  }
}
@media (max-width: 800px) {
  .header__empty {
    width: 20px;
  }
}
@media (max-width: 768px) {
  .header__content {
    flex-direction: column;
    row-gap: 16px;
  }
  .header__empty {
    display: none;
  }
  .header__list {
    gap: 20px;
  }
  .header__list-item {
    font-size: 12px;
  }
}
.promo {
  text-align: center;
  padding: 76px 0px 120px 0px;
}
.promo__title {
  max-width: 804px;
  margin: 0 auto;
}
.promo__descr {
  max-width: 484px;
  margin: 0 auto;
  margin-top: 40px;
}
.promo__btns-group {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 80px;
}

@media (max-width: 768px) {
  .promo {
    padding: 40px 0px 80px 0px;
  }
  .promo__title {
    font-size: 40px;
    line-height: 40px;
  }
  .promo__btns-group {
    flex-direction: column;
    width: 100%;
  }
}
.works__tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
}
.works__tab {
  display: flex;
  padding: 4px 16px;
  align-items: flex-start;
  gap: 8px;
  cursor: pointer;
  border-radius: 10000px;
  background: #181818;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.works__tab:hover {
  background: #3b3b3b;
}
.works__tab_outlined {
  border: 1px solid #000;
  background: #fff;
  color: #181818;
}
.works__tab_outlined:hover {
  background: #ebebeb;
}
.works__imgs {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.works__wrapper-2-imgs {
  display: flex;
  justify-content: space-between;
}

.gigachad__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.gigachad__img {
  width: 400px;
  height: 560px;
  flex-shrink: 0;
}
.gigachad__facts-column {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  height: 100%;
  left: 0;
  overflow: scroll;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.modal__dialog {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}
.modal__content {
  padding: 40px 24px;
}
.modal__form {
  width: 448px;
}
.modal__btn-wrapper {
  display: flex;
  padding-top: 32px;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.modal__textarea {
  height: 160px;
}
.modal__btn {
  width: 100%;
}

* {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway;
}

.container {
  width: 1160px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */