.promo {
    text-align: center;
    padding: 76px 0px 120px 0px;
    &__title {
      max-width: 804px;
      margin: 0 auto;
    }
    &__descr {
      max-width: 484px;
      margin: 0 auto;
      margin-top: 40px;
    }
    &__btns-group {
      display: flex;
      gap: 16px;
      justify-content: center;
      margin-top: 80px;
    }
  }
  
  @media (max-width: 768px) {
    .promo {
      padding: 40px 0px 80px 0px;
      &__title {
        font-size: 40px;
        line-height: 40px;
      }
      &__btns-group {
        flex-direction: column;
        width: 100%;
      }
    }
  }