@import './identic/colors';
@import './identic/typography';
@import './identic/mixins';
@import './blocks/_header';
@import './blocks/_promo';
@import './identic/btns';

*{
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
}

.container{
    width: 1160px;
    margin: 0 auto;
        }
